* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bienvenida {
    width: 100%;
    text-align: center;
    padding: 24px 0px;
}

#bienvenida h1 {
    color: blue;
}

/*
Padding
1 valor: Todos los lados.
2 valores: 1 para superior/inferior, 1 para izquierda/derecha.
3 valores: 1 para superior, 2 para izquierda/derecha, 3 para inferior.
4 valores: Superior, derecho, inferior, izquierdo.
*/