* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 240, 240);
}

#bienvenida {
    width: 100%;
    text-align: center;
    margin: 128px auto;
}

#titulo {
    color: rgb(59, 59, 59);
}

.boxContainer {
    background-color: white;
    text-align: center;
}

#box {
    width: 80%;
    margin: 24px auto;
    padding: 24px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
Padding
1 valor: Todos los lados.
2 valores: 1 para superior/inferior, 1 para izquierda/derecha.
3 valores: 1 para superior, 2 para izquierda/derecha, 3 para inferior.
4 valores: Superior, derecho, inferior, izquierdo.
*/